rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }
    function isAdmin() {
      return signedIn() &&
        exists(/databases/$(database)/documents/admins/$(request.auth.uid)) &&
        get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.role == 'admin';
    }

    match /admins/{uid} {
      allow read: if signedIn() && (request.auth.uid == uid || isAdmin());
      allow write: if false;
    }

    match /schools/{schoolId}/players/{uid} {
      allow create: if signedIn() && (request.auth.uid == uid || isAdmin());
      allow read: if signedIn();
      allow update, delete: if signedIn() && (request.auth.uid == uid || isAdmin());
    }

    match /schools/{schoolId}/events/{eventId} {
      allow create: if signedIn() && request.resource.data.userId == request.auth.uid;
      allow read: if isAdmin();
      allow update, delete: if false;
    }

    match /schools/{schoolId}/system/{docId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
